.user-cards {
  display: grid;
}

.user-cards-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.card-list {
  text-align: left;
}

.user-card {
  padding: 5px;
  border-bottom: 1px solid #fff;
}