.user-decks {
  display: grid;
}

.user-decks-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.user-deck {
  padding: 15px 0;
}

.user-deck-card-list {
  text-align: left;
}

.user-deck-card {
  padding: 5px;
  border-bottom: 1px solid #fff;
}