.comparison {
  display: grid;
}

.decks-to-compare {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-deck {
  width: 25%;
  display: grid;
}

.compared-deck {
  display: grid;
  grid-template-areas:
    'header-card-name'
  ;
  padding: 0 15px;
}

.header-card-name {
  grid-area: header-card-name;
}

.compared-card {
  width: 250px;
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-areas:
    'compared-card-index compared-card-name'
    'compared-card-index compared-card-status'
  ;
  align-items: center;
  border: 1px solid #fff;
}

.compared-card-index {
  grid-area: compared-card-index;
  border-right: 1px solid #fff;
}

.compared-card-name {
  grid-area: compared-card-name;
  text-align: left;
  padding: 0 15px;
}

.compared-card-status {
  grid-area: compared-card-status;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.own {
  color: rgb(82, 167, 71);
}

.not-own {
  color: #F44336;
}