.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav > a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}