:root {
  --bg-color: #282c34;
}

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input, label, button, a {
  font-weight: 500;
  font-size: 16px;
}

button, input {
  border: none;
  border-radius: 3px;
}

input {
  padding: 5px;
}

button {
  height: 32px;
  min-width: 205px;
  background-color: #ededed;
  outline: none;
  cursor: pointer;
}

.page-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}